@import "utilities/variables";
@import "utilities/mixin";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color-principal;
    font-family: 'Poppins', sans-serif;

}

/* HEADER / NAVBAR */

header {
    font-family: 'Oswald', sans-serif;

    .logo img {
        display: block;
        padding: 15px 0;
        width: 150px;
    }

    .navbar {
        padding: 0;

        .navbar-brand {
            padding: 0;   
        }
    }

    .navbar ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style:none;
        margin: 10px;
    }
    
    .navbar ul li a {
        background-color: darkgrey;
        color: white;
        font-size: 1.2rem;
        text-decoration: none;
        margin-left: 20px;
        padding: 15px 25px !important;
        align-items: center;
        border-radius: 25px;
        
    }
    
    .navbar ul li a:hover {
        background-color: orangered;
        color: white;
        
    }
    
    .navbar-nav .nav-link.active {
        background-color: orangered;
        color: white;
        
    }
}

@media (max-width: 425px) {

    .navbar ul li a {

        margin-bottom: 20px;
        
    }

}

/* MAIN */

main {

    padding: 80px 0 80px 0;

    .contenedor-main {
        align-items: center;
        margin: 0 auto;
        width: 80%;
    }

    h1 {
        color: grey;
        text-align: center;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 700;
        padding-bottom: 30px;
        cursor: pointer;
    }

    h1:hover{
        transform: scale(1.1);
        transition: 0.3s;
    }

    h2 {
        color: gray;
        text-align: center;
        text-transform: none;
        font-size: 2.5rem;
        font-weight: 50px;
        
    }

    .parrafo {
        width: 80%;
        color: gray ;
        text-align: center;
        text-transform: none;
        margin: 0 auto;
        font-size: 1.25rem;
        font-weight: 50px;
        padding: 10px 20px;
    }

    .parrafo span {
        font-weight:700;
    }

}

/* FOOTER */

footer {

    .contenedor-footer {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }

    .datos {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0 auto;
        padding: 20px 0;
    
            h3 {
                display: flex;
                flex-direction: column;
                color: orangered;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
            }
    
            a {
                text-decoration: none;
                color:  $color-secundario;
                font-size: 20px;
                font-family: 'Poppins', sans-serif;
    
    
                &:hover {
                    color:$color-link;
                }
            }
    }

    .derechos {
        margin: 0 auto;
        text-align: center;
        padding: 20px;
    }
    
}

@media (max-width: 768px) {

    footer {

        .contenedor-footer {
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
        .datos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            padding: 20px 0;
        }
    }

}

/* GALERIA */

.galeria {
    width: 100%;
	margin: 0 auto;
    display: flex;
    justify-content: center;
}

.contenedor-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.tarjeta {
    display: block;
    height: auto;
    border: solid 1px darkgrey;
}

.tarjeta img {
    width: 100%;
    height: auto;
    transform: scale(.9);
    border: 3px solid orangered;
    transition: cubic-bezier(0.6, -0.28, 0.74, 0.05) all .5s;
}

.tarjeta img:hover {
    transform: scale(1);
}

.txt-galeria {
    color:gray;
    text-align: center;
    text-transform: none;
    padding: 15px;
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif; 
}

.txt-galeria span {
    font-weight: 700;
}

@media screen and (max-width: 700px) {

    .contenedor-galeria {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        z-index: -999;
    }
}

/* FORMULARIO */

.formulario {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 80px;
      
}

.form {
    color: white;
    background-color: orangered;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    width: 50%;
    margin: 0 auto;

}

.titulo-form {
    color: grey;
    padding-bottom: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    margin: 0 auto;

}

input {
    color: grey;
    border: solid 1px grey!important;
    border-radius: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    width: 50%;
    padding: 15px;
}

textarea {
    color: grey;
    border: solid 1px grey!important;
    border-radius: 10px;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    width: 50%;
    padding: 15px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
}

.btn-form {
    background-color: darkgray;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    text-transform: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif; 
    width: 250px;
}

@media screen and (max-width: 1024px) {
    .formulario {
      width: 80%;
    }
    .form {
        width: 80%;
    }
    input {
        width: 80%;
    }
    textarea {
        width: 80%;
    }
    .check {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
    }
    .btn-form {
        width: 250px;
    }
}

@media screen and (max-width: 768px) {
    .btn-form {
        width: 200px;
    }
}

@media screen and (max-width: 425px) {
    .btn-form {
        width: 120px;
    }
}

/* BTN WHATSAPP */

.whatsapp{
    @include colores (#2e6329);
    border: 1px solid #ffff;
    position: fixed;
    z-index: 999;
    border-radius: 50%;
    bottom: 25px;
    right: 25px;
    padding: 25px;
    transition: ease 0.3s;
    animation: efecto 1.2s infinite;
}
.whatsapp:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.btn-whatsapp{
    width: 40px;
    transition: ease 1s;

}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85); 
    }
    100%{
        box-shadow: 0 0 0 25px rgba(0, 0, 0, 0);    
    }   
}